.award__wrapper {
	padding-top: 0.2rem;
	overflow: hidden;
	padding-left: 2rem;
	padding-right: 3rem;
	/*padding-top: 2.5rem;*/
}

#awards_cover {
	height: 30rem;
	background: url('../images/awards_cover.jpg');
	background-repeat: no-repeat;
	background-position: 50% 40%;
	background-size: cover;
}

.content_rocket_tag {
	background-color: #8c0733;
	margin-top: 1rem;
	padding: 0.5rem;
	text-align: center;
	height: 2rem;
	width: 6rem;
	border-radius: 0.5rem;
	/* transitions */
	-webkit-transition: background-color 0.3s linear;
	-moz-transition: background-color 0.3s linear;
	-o-transition: background-color 0.3s linear;
	-ms-transition: background-color 0.3s linear;
	transition: background-color 0.3s linear;
}

.content_rocket_tag h1 {
	color: #ffffff;
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-weight: 600;
	font-size: 1rem;
}


.award {
	
	margin-bottom: 2rem;
	padding-top: 2.5rem;
	/*padding: 1rem;*/
}

.award__wrapper p {
	padding-bottom: 1rem;
}

.award__wrapper h2 {

	font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
	margin-bottom: 0.7rem;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
	
}

#award__line {
	margin-left: 1rem;
	margin-right: 3rem;
}

.poster {
	margin-left: 10%;
	width: 8rem;
}
