.award__wrapper {
	padding-top: 5.2rem;
	overflow: auto;
	padding-left: 2rem;
	/*padding-top: 2.5rem;*/
}

.content_rocket_tag {
	background-color: #8c0733;
	margin-top: 1rem;
	padding: 0.5rem;
	text-align: center;
	height: 2rem;
	width: 6rem;
	border-radius: 0.5rem;
	/* transitions */
	-webkit-transition: background-color 0.3s linear;
	-moz-transition: background-color 0.3s linear;
	-o-transition: background-color 0.3s linear;
	-ms-transition: background-color 0.3s linear;
	transition: background-color 0.3s linear;
}

.content_rocket_tag h1 {
	color: #ffffff;
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-weight: 600;
	font-size: 1rem;
}

.award {
	overflow: auto;
	margin-bottom: 2rem;
	padding-top: 2.5rem;
	/*padding: 1rem;*/
}

.award__wrapper p {
	padding-bottom: 1rem;
}

#award__line {
	margin-left: 1rem;
	margin-right: 3rem;
}

.poster {
	margin-left: 10%;
	max-width: 80%;
}
