#comp_cover {
	height: 35rem;
	background: url("../images/comp_photo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 90%;
}

.embed-responsive {
	margin-bottom: 1rem;
}

.wrapper {
	padding: 2rem;
}

.wrapper h1 {
	margin-bottom: 1rem;
}

.wrapper p {
	margin-bottom: 1rem;
}
