#comp_cover {
	height: 25rem;
	background: url('http://media1.santabanta.com/full1/Animals/Cats/cats-149a.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.embed-responsive {
	margin-bottom: 1rem;
}

.wrapper {
	padding: 2rem;
}

.wrapper h1 {
	margin-bottom: 1rem;
}

.wrapper p {
	margin-bottom: 1rem;
}
