.photo {
	height: 22rem;
	background: url('../images/contact.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 100%;
}

.iframe {
	display: inline-block;
}

#map {
	text-align: center;
}

.contact__wrapper {
	max-width: 70rem;
}

.contact__container {
	padding-top: 2rem;
	padding-right: 1.5rem;
	padding-left: 3rem;
}

.contact__section {
	padding-top: 1rem;
}

/* media stuff */

.media__container {
    text-align: center;
	padding-top: 1rem;
	padding-left: 3rem;
	padding-right: 3rem;
}

#fb {
    width: 18rem;
    margin-top: 2.5rem;
}

#ig {
    width: 18rem;
    margin-top: 2.5rem;
}

#flickr {
    width: 15rem;
    margin-top: 2rem;
}

#youtube {
    width: 15rem;
    margin-top: 3rem;
}

.footer {
	margin-top: 3rem;
}
