#event_cover {
	height: 30rem;
	background: url('../images/temp.jpg');
	background-repeat: no-repeat;
	background-position: 50% 40%;
	background-size: cover;
	vertical-align: bottom;
}

.event__wrapper {
	overflow: auto;
	padding-left: 2rem;
	/*padding-top: 2.5rem;*/
}

.event {
	overflow: auto;
	margin-bottom: 2rem;
	padding-top: 2.5rem;
	/*padding: 1rem;*/
}

.event__wrapper p {
	padding-bottom: 1rem;
}

#event__line {
	margin-left: 1rem;
	margin-right: 3rem;
}

.poster {
	margin-left: 10%;
	max-width: 80%;
}
