/* OVERALL RULES */
html, body {
	height: 100%;
}

.content-title {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.content-text {
    font-family: 'Open Sans', Helvetica, sans-serif;
	line-height: 135%;
    font-weight: 400;
    font-size: 0.9rem;
}

a:hover, a:visited {
    text-decoration: none;
}

/* BANNER AND NAV BAR */
.banner {
	top: 0px;
    width: 100vw;
    position: fixed;
    z-index: 1;
    display: block;

	height: auto;
    min-height: 4.2rem;
	padding-top: 1rem;
	padding-bottom: 0.5rem;
	background: #2b2b2b;
	background-color: rgba(0, 0, 0, 0.85);
}

.banner__logo {
    display: inline-block;
	height: 2rem;
    margin: 0.1rem;
}

.banner ul {
	text-align: center;
}

.banner li {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 300;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    display: inline-block;
}

.banner > ul > li {
}

.banner li:hover  {
}

.banner a {
    margin: 0.6rem;
    color: #999999;
	transition: color 0.2s linear;
}

.banner a:hover {
	color: #bbbbbb;
}

.nav--left {
    margin-left: 1.5rem;
}

.nav--right {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

/* FOOTER */
.page-wrap {
    min-height: 100%;
    margin-bottom: -5rem;
}

.page-wrap:after {
    content: ""; 
    display: block;
    height: 5rem;
}

.footer {
	height: 5rem;
	text-align: center;
	padding-top: 2.3rem;
	background: #2b2b2b;
	background-color: rgba(0, 0, 0, 0.90);
}

.footer__container {
	display: inline-block;
}

.footer__container a img {
	height: 1.7rem;
}

/* LINE ELEMENT */
.line {
	height: 0;
	border-bottom: 1px solid #b9b9b9;
}
