/* OVERALL RULES */
html, body {
	height: 100%;
}

.content-title {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.content-text {
    font-family: 'Open Sans', Helvetica, sans-serif;
	line-height: 135%;
    font-weight: 400;
    font-size: 0.9rem;
}

a:hover, a:visited {
    text-decoration: none;
}

/* BANNER AND NAV BAR */
.banner {
	top: 0px;
    width: 100vw;
    position: fixed;
    z-index: 1;
    display: block;

    height: 4.2rem;
	padding-top: 1rem;
	min-width: 45rem;
	background: #2b2b2b;
	background-color: rgba(0, 0, 0, 0.85);
}

.banner__logo {
    display: inline-block;
	height: 2rem;
    margin: 0.1rem;
}


.banner li {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 600;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    display: inline-block;
    margin: auto;
}

.banner > ul > li {
}

.banner li:hover  {
}

.banner a {
    margin: 0.6rem;
    color: #666666;
	transition: color 0.2s linear;
}

.banner a:hover {
	color: #888888;
}

.nav--left {
    margin-left: 1.5rem;
}

.nav--right {
    margin-right: 1.5rem;
}
.nav--dropdown {
    position: absolute;
    z-index: 100;
    height: 0;
    margin: 0;
    margin-top: 0.6rem; /* matches bottom padding of li elements */
    overflow: hidden;
    /* transitions */
    -webkit-transition: height 0.3s ease-in;
    -moz-transition: height 0.3s ease-in;
    -o-transition: height 0.3s ease-in;
    -ms-transition: height 0.3s ease-in;
    transition: height 0.3s ease-in;
}

/* dropdown menu styling - fonts, etc inherited from link properties */
.nav--dropdown li {
    background-color: #e1e3e5;  /* same grey as main nav hover */
    display: block;
}

.nav--dropdown li:hover {
    background-color: #caccce;  /* one shade darker */
}

.banner__nav li:hover ul,
.nav--dropdown li:hover ul {
    height: 300px;
}

/* FOOTER */
.page-wrap {
    min-height: 100%;
    margin-bottom: -6rem;
}

.page-wrap:after {
    content: ""; 
    display: block;
    height: 6rem;
}

.footer {
	height: 6rem;
	text-align: center;
	padding-top: 2.75rem;
	background: #000000;
	-webkit-background: linear-gradient(#000000, #141414);
	-o-background: linear-gradient(#000000, #141414);
	-moz-background: linear-gradient(#000000, #141414);
	background: linear-gradient(#000000, #141414);
}

.footer__container {
	display: inline-block;
}

.footer__container a img {
	height: 2rem;
}

/* LINE ELEMENT */
.line {
	height: 0;
	border-bottom: 1px solid #b9b9b9;
}
