/* COVER PHOTO */
.cover-photo {
	height: 39rem;
	background: url('https://c2.staticflickr.com/4/3898/19303634276_fb78ca3586_c.jpg');
	background-repeat: no-repeat;
	background-position: 50% 60%;
	background-size: cover;
}

/* CONTENT */
.wrapper {
	padding-left: 8rem;
	padding-right: 8rem;
}

.content {
	/*background-color: yellow;*/
}

.content__about {
	padding:2rem;
}

.content__join {
	padding: 2rem;
}

.content__join__button {
	background-color: #8c0733;
	margin-top: 1rem;
	padding: 0.5rem;
	text-align: center;
	height: 2rem;
	width: 6rem;
	border-radius: 0.5rem;
	/* transitions */
	-webkit-transition: background-color 0.3s linear;
	-moz-transition: background-color 0.3s linear;
	-o-transition: background-color 0.3s linear;
	-ms-transition: background-color 0.3s linear;
	transition: background-color 0.3s linear;
}

.content__join__button:hover  {
	background-color: #620423;
}

.content__join__button h1 {
	color: #ffffff;
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-weight: 600;
	font-size: 1rem;
}

/* MORE CONTENT links, etc*/
.links {
	padding-top: 1rem;
	padding-left: 8rem;
	padding-right: 8rem;
	padding-bottom: 2rem;
	background-color: #f7f7f7;
	text-align: center;
}

.links a {
	color: #000000;
	margin: 1rem;
	-webkit-transition: color 0.3s ease-in;
	-moz-transition: color 0.3s ease-in;
	-o-transition: color 0.3s ease-in;
	-ms-transition: color 0.3s ease-in;
	transition: color 0.3s ease-in;
}

.links a:hover {
	color: grey;
}

.links img {
	display: block;
	margin: auto;
	width: 90%;
	/*
	-webkit-transition: opacity 0.3s ease-in;
	-moz-transition: opacity 0.3s ease-in;
	-o-transition: opacity 0.3s ease-in;
	-ms-transition: opacity 0.3s ease-in;
	transition: opacity 0.3s ease-in;
	*/
}

.links img:hover {
	/*
	opacity: 0.8;
	*/
}

