/* COVER PHOTO */
.cover-photo {
	height: 39rem;
	background: url('https://farm4.staticflickr.com/3898/19303634276_95177215da_o.jpg');
	background-repeat: no-repeat;
	background-position: 50% 60%;
	background-size: cover;
}

/* CONTENT */
.wrapper {
	padding-left: 2rem;
	padding-right: 2rem;
}

.content__about {
	padding:2rem;
}

.content__join {
	padding: 2rem;
}

/* MORE CONTENT links, etc*/
.links {
	padding-top: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 2rem;
	background-color: #f7f7f7;
	text-align: center;
}

.links a {
	color: #000000;
	margin: 1rem;
	-webkit-transition: color 0.3s ease-in;
	-moz-transition: color 0.3s ease-in;
	-o-transition: color 0.3s ease-in;
	-ms-transition: color 0.3s ease-in;
	transition: color 0.3s ease-in;
}

.links a:hover {
	color: grey;
}

.links img {
	display: block;
	margin: auto;
	width: 90%;
	/*
	-webkit-transition: opacity 0.3s ease-in;
	-moz-transition: opacity 0.3s ease-in;
	-o-transition: opacity 0.3s ease-in;
	-ms-transition: opacity 0.3s ease-in;
	transition: opacity 0.3s ease-in;
	*/
}

.links img:hover {
	/*
	opacity: 0.8;
	*/
}

