p {
	margin-bottom: 0.5rem;
}

.rocket_pic img {
	width: 5rem;
	display: block;
	margin: auto;
}

.pic_eridani img {
	width: 8rem;
	display: block;
	margin: auto;
}

/* overview and specs */
.overview__wrapper {
	background: #ffffff;
	margin-top: 4.2rem;
	padding: 2rem;
	padding-bottom: 1.1rem;
}

.overview__wrapper .content-title {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.rocket-title {
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-weight: 300;
	font-size: 2rem;
	margin-top: 0;
	margin-bottom: 1rem;
}

.specs__col {
	padding: 0;
}

/*photos section */
.photos {
	background: #f7f7f7;
	padding: 2rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.photos img {
	display: block;
	margin: auto;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	width: 103%;
}

/* details section */
.details__col {
	padding-left: 0;
	padding-right: 30px;
}

.videos {
	background: #ffffff;
	padding: 2rem;
	padding-bottom: 0;
	margin-bottom: 1rem;
}

.videos div div {
	margin-bottom: 2rem;
