p {
	margin-bottom: 0.5rem;
}

.rocket_pic img {
	width: 5rem;
	display: block;
	margin: auto;
}

#pic_eridani img {
	width: 8rem;
}

#pic_wrt1 img {
	width: 7rem;	
}

/* overview and specs */
.overview__wrapper {
	background: #ffffff;
	margin-top: 4.2rem;
	padding: 2rem;
	padding-bottom: 1.1rem;
}

.overview__wrapper .content-title {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.rocket-title {
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-weight: 300;
	font-size: 2rem;
	margin-top: 0;
	margin-bottom: 1rem;
}

.specs__col {
	padding: 0;
}

/*photos section */
.photos {
	background: #f7f7f7;
	padding: 1rem;
	padding-bottom: 0.5rem;
	margin-top: 0.5rem;
	margin-bottom: 1rem;
}

.photos img {
	display: block;
	margin: auto;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	width: 100%;
}

.photos a {
    color: #000000;
    -webkit-transition: color 0.3s ease-in;
    -moz-transition: color 0.3s ease-in;
    -o-transition: color 0.3s ease-in;
    -ms-transition: color 0.3s ease-in;
    transition: color 0.3s ease-in;
}

.photos a:hover {
    color: grey;
}

.photos > .col-md-4 {
	padding: 0.5rem;
}

.photos > .col-md-12 {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.videos > .col-md-4 {
	padding: 0.8rem;
}

/* details section */
.details__col {
	padding-left: 0;
	padding-right: 30px;
}

iframe {
	display: initial !important;
}

.videos {
	padding: 0.5rem;
	padding-top: 0;
}

.videos div div {
	margin-bottom: 1rem;
}
