#sponsor_cover {
	height: 35rem;
	background: url('../images/sponsors.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
}

.info-container {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.sponsors__header {
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 1rem;	
}

.sponsors__header h1 {
	margin: 1rem;
}

.sponsors__header .line {
	margin-left: 1rem;
	margin-right: 1rem;
}

.sponsors__container {
	text-align: center;
	padding-bottom: 1.5rem;
	display: block;
	background: white;
}

.sponsors__container img {
	margin-top: 1rem;
	margin-bottom: 1rem;
	height: 8rem;
	width: auto;
}
.dan img {
	height: 6rem;
	margin-top: 2rem;
	margin-bottom: 2rem;		
}

.dan p {
	padding-left: 3rem;
	padding-right: 3rem;
}

.platinum img {
	height: 9rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.platinum p {
	padding-left: 3rem;
	padding-right: 3rem;
}

.gold img {
	/*width: 45%;*/
	width: 20rem;
	display: block;
	margin: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
	/*margin-top: 1.7rem;*/
	/*margin-bottom: 0.7rem;*/
	height: auto;
}

.silver img {
	/*width: 70%;*/
	width: 20rem;
	height: auto;
	margin: 1rem;
}

.bronzeHorizontal img {
	/*width: 45%;*/
	width: 14rem;
	display: block;
	margin: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
	/*margin-top: 1.7rem;*/
	/*margin-bottom: 0.7rem;*/
	height: auto;
}

.bronzeVertical img {
	/*width: 45%;*/
	width: auto;
	display: block;
	margin: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
	/*margin-top: 1.7rem;*/
	/*margin-bottom: 0.7rem;*/
	height: 5rem;
}

.previous img {
	height: 3rem;
	width: auto;
}

.previous__bottom img {
	height: 3.5rem;
	width: auto;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
