#sponsor_cover {
	height: 35rem;
	background: url('../images/sponsors.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
}

.info-container {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.sponsors__header {
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 1rem;	
}

.sponsors__header .line {
	margin-left: 1rem;
	margin-right: 1rem;
}


.sponsors__container {
	padding: 3rem;
	padding-top: 0rem;
	text-align: center;
	display: inline-block;
	background: white;
}

.platinum img {
	max-height: 150px;
	margin-top: 2rem;
	margin-bottom: 2rem;
	max-width: 95%;
	height: auto;
}

.platinum p {
	padding-left: 3rem;
	padding-right: 3rem;
}

.gold img {
	width: 20rem;
	display: block;
	margin: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
	height: auto;
}


.silver img{
	width: 20rem;
	height: auto;
	margin: 1rem;
}

.bronzeInlineWide img {
	width: auto;
	height: auto;
	max-height: 50px;
	max-width: 175px;
	vertical-align: middle;
	margin: 1rem;
}

.previous img {
	height: 3rem;
	width: auto;
	margin: 0.75rem;
}

