#sponsor_cover {
	height: 35rem;
	background: url('../images/sponsors.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
}

.info-container {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.tier_header {
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.tier_header .line {
	margin-left: 1rem;
	margin-right: 1rem;
}


.logo_container {
	padding: 3rem;
	padding-top: 0rem;
	text-align: center;
	display: inline-block;
	background: white;
}


.platinum img {
	max-height: 9rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
	max-width: 95%;
	height: auto;
}

.platinum p {
	padding-left: 3rem;
	padding-right: 3rem;
}

.gold img {
	width: auto;
	max-width: 35rem;
	max-height: 7rem;
	display: block;
	margin: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
	height: auto;
}

.silver img{
	width: auto;
	margin: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	height: auto;
	max-width: 22rem;
	max-height: 6rem;
	vertical-align: middle;
}

.bronzeInlineWide img {
	width: auto;
	height: 4rem;
	vertical-align: middle;
	margin: 1rem;
}

.previous img {
	height: 1.5rem;
	width: auto;
	margin: 0.75rem;
}

