#subsystems_cover {
	height: 28rem;
	background: url('../images/subsytems_cover.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
}

.subsystems_info {
    margin: 1.5rem;
}

.subsystem_container {
	vertical-align: top;
	margin: 1.5rem;
	margin-top: 0;
	border: 1px solid lightgray;
	display: none;
	padding: 1.5rem
}

.subsystem_container h3 {
	padding-top: 1rem;
	margin-bottom: 0.5rem;
	font-size: 1.2rem;
}

.subsystem_container p {
	margin-top: 1rem
}

.subsystem_container ul {
	padding: 0.5rem 2rem;
	list-style-type: disc;
}

table, th, td {
	border: 1px solid darkgray;
}

th, td {
	padding: 0.5rem;
}

th {
	font-weight: bold;
}

.active_container {
	display: block;
}

.rocket_img img {
	margin: 0 1.5rem;
	width: 95%;
	display: none
}

#active_img {
	display: block;
}

#toggle {
	margin: 1.5rem 0 0 1.5rem;
}

#toggle :hover {
	border: 1px solid lightblue;
	border-bottom: 1px solid lightgrey;
}

.tab {
	padding: 1rem 0.3rem 0.3rem 1rem;
	margin-bottom: -5px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border: 1px solid lightgray;
	border-bottom: 1px solid lightgrey;
	display: inline-block;
	width: 10%;
	min-width: 113px;
	cursor: pointer;
	background-color: #f2f3f5;
}

.tab p {
	pointer-events: none;
	overflow: hidden;
}

.active_tab {
	border: 2px solid lightblue;
	border-bottom: 1px solid white;
	pointer-events: none;
	background-color: white;
}


hr { 
	margin: 0.5rem 0;
	display: block;
    border-style: inset;
    border-width: 1px;	
}
