#subsystems_cover {
	height: 28rem;
	background: url('../images/subsytems_cover.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
}

.subsystems_info {
    margin: 1.5rem;
}

.subsystem_container{
	vertical-align: top;
	margin: 1.5rem;
	margin-top: 0;
	border: 1px solid lightgray;
	display: none;
}

.rocket_img img{
	margin: 0 1.5rem;
	width: 95%;
}

.subsystem_container h2{
	padding-top: 1rem;
	margin: 0 1rem;
	margin-bottom: 0.5rem;
}

.active_container{
	display: block;
}

.subsystem_container p{
	margin: 1rem;
}

#toggle{
	margin: 1.5rem 0 0 1.5rem;
	width: 97.4%;
}

#toggle :hover{
	border: 1px solid lightblue;
	border-bottom: 2px solid white;
}

.tab{
	padding: 1rem 0.3rem 0.3rem 1rem;
	margin-bottom: -2px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border: 1px solid lightgray;
	border-bottom: none;
	display: inline-block;
	width: 15%;
	cursor: pointer;
}

.tab p{
	pointer-events: none;
}

.active_tab{
	border: 2px solid lightblue;
	border-bottom: 2px solid white;
	pointer-events: none;
}


hr { 
	display: block;
	margin: 0 1rem;
    border-style: inset;
    border-width: 1px;	
}
