#members_cover {
	height: 35rem;
	background: url('../images/members/team-win.jpg');
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
}

.members__info {
	display: block;
	float: left;
	padding-top: 1.5rem;
	padding-left: 1.5rem;
	padding-right: 1rem;
	padding-bottom: 1.5rem;
}

.container-fluid {
	display: block;
	clear: both;
	padding-top: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-bottom: 1.5rem;
	margin: 0;
}

.box__outer{
	background: url('../images/members/missing.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 15rem;
	height:	15rem;
	text-align: left;
	padding-left: 0rem;
	padding-right: 2rem;
	margin-bottom: 1rem;
	margin-right: 1rem;
}

.box__outer:hover .box__inner{
	transition: 0.3s;
	visibility: visible;
	opacity: 1;
}

.box__inner {
	background: linear-gradient(to top, rgba(0,0,0,1), rgba(255,255,255,0));
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 15rem;
	height:	15rem;
	text-align: left;
	padding-left: 1rem;
	transition: 0.3s;
	visibility: hidden;
	opacity: 0;
}

.text__holder {
	position: absolute;
	bottom: 0.4rem;
	margin: 0.3rem;
}

/* member name */
.box__inner h1 { 
	color: white;
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-weight: 800;
	font-size: 1.3rem;
	margin-bottom: 0.3rem;
}

/* member title */
.box__inner h2 {
	color: white;
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-weight: 600;
	font-size: 1rem;
}

.box__alum__outer{
	background: url('../images/members/missing.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 10rem;
	height:	10rem;
	text-align: left;
	padding-left: 0rem;
	padding-right: 2rem;
	margin-bottom: 1rem;
	margin-right: 1rem;
}

.box__alum__outer:hover .box__alum__inner{
	transition: 0.3s;
	visibility: visible;
	opacity: 1;
}

.box__alum__inner {
	background: linear-gradient(to top, rgba(0,0,0,1), rgba(255,255,255,0));
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 10rem;
	height:	10rem;
	text-align: left;
	padding-left: 0.8rem;
	transition: 0.3s;
	visibility: hidden;
	opacity: 0;
}

/* alum title */
.box__alum__inner h1 {
	color: white;
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-weight: 800;
	font-size: 0.9rem;
}

/* alum year */
.box__alum__inner h2 {
	color: white;
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-weight: 600;
	font-size: 0.8rem;
}

/* individual team member backgrounds */
#miranda {
	background: url('../images/members/miranda.jpg');
	background-size: cover;
}

#hilbert {
	background: url('../images/members/hilbert.jpg');
	background-size: cover;
}

#jacob {
	background: url('../images/members/jacob.jpg');
	background-size: cover;
}

#doris {
	background: url('../images/members/doris.jpg');
	background-size: cover;
}

#nick {
	background: url('../images/members/nick.jpg');
	background-size: cover;
}

#robin {
	background: url('../images/members/robin.jpg');
	background-size: cover;
}

#david {
	background: url('../images/members/david.jpg');
	background-size: cover;
}

#alex {
	background: url('../images/members/alex.jpg');
	background-size: cover;
}

#aaron {
	background: url('../images/members/aaron.jpg');
	background-size: cover;
}

#adam {
	background: url('../images/members/adam.jpg');
	background-size: cover;
}

#vithusan {
	background: url('../images/members/vithusan.jpg');
	background-size: cover;
}

#hussein {
	background: url('../images/members/hussein.jpg');
	background-size: cover;
}

#nina {
	background: url('../images/members/nina.jpg');
	background-size: cover;
}

#shirley {
	background: url('../images/members/shirley.jpg');
	background-size: cover;
}

#tom {
	background: url('../images/members/tom.jpg');
	background-size: cover;
}

#edward {
	background: url('../images/members/edward.jpg');
	background-size: cover;
}

#yash {
	background: url('../images/members/yash.jpg');
	background-size: cover;
}

#stefan {
    background: url('../images/members/stefan.jpg');
    background-size: cover;
}

#kyle {
    background: url('../images/members/kyle.jpg');
    background-size: cover;
}

#delaney {
    background: url('../images/members/delaney.jpg');
    background-size: cover;
}

#aaronl {
    background: url('../images/members/aaronl.jpg');
    background-size: cover;
}

#roman {
    background: url('../images/members/roman.jpg');
    background-size: cover;
}

#matti {
    background: url('../images/members/matti.jpg');
    background-size: cover;
}

#zach {
    background: url('../images/members/zach.jpg');
    background-size: cover;
}

#teresa {
    background: url('../images/members/teresa.jpg');
    background-size: cover;
}

#chris {
    background: url('../images/members/chris.jpg');
    background-size: cover;
}

#ivan {
    background: url('../images/members/ivan.jpg');
    background-size: cover;
}

#dawson {
    background: url('../images/members/dawson.jpg');
    background-size: cover;
}

#yiqing {
    background: url('../images/members/yiqing.jpg');
    background-size: cover;
}

#zhenbo {
    background: url('../images/members/zhenbo.jpg');
    background-size: cover;
}

#kaveeshan {
    background: url('../images/members/kaveeshan.jpg');
    background-size: cover;
}

#abm {
    background: url('../images/members/abm.jpg');
    background-size: cover;
}

#hamza {
    background: url('../images/members/hamza.jpg');
    background-size: cover;
}

#jared {
    background: url('../images/members/jared.jpg');
    background-size: cover;
}

#lana {
    background: url('../images/members/lana.jpg');
    background-size: cover;
}

#sophie {
    background: url('../images/members/sophie.jpg');
    background-size: cover;
}

#francis {
    background: url('../images/members/francis.jpg');
    background-size: cover;
}

#chamath {
    background: url('../images/members/chamath.jpg');
    background-size: cover;
}

#justin {
    background: url('../images/members/justin.jpg');
    background-size: cover;
}

#wendi {
    background: url('../images/members/wendi.jpg');
    background-size: cover;
}

#chriss {
    background: url('../images/members/chriss.jpg');
    background-size: cover;
}

#zachary {
    background: url('../images/members/zachary.jpg');
    background-size: cover;
}

#saduni {
    background: url('../images/members/saduni.jpg');
    background-size: cover;
}

#michael {
    background: url('../images/members/michael.jpg');
    background-size: cover;
}

#jack {
    background: url('../images/members/jack.jpg');
    background-size: cover;
}

#robert {
    background: url('../images/members/robert.jpg');
    background-size: cover;
}

#rio {
    background: url('../images/members/rio.jpg');
    background-size: cover;
}

#artem {
    background: url('../images/members/artem.png');
    background-size: cover;
}
