.page-wrap {
	padding-top: 8.2rem;
}

.photo {
	height: 20rem;
	background: url('https://c4.staticflickr.com/1/576/21961005211_eafc5414d1_b.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 70%;
}

.wrapper {
	padding: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

.media__container {
	text-align: center;	
}

#fb {
	width: 18rem;
	margin-top: 2.5rem;
}

#flickr {
	width: 15rem;
	margin-top: 2rem;
}

#youtube {
	width: 15rem;
	margin-top: -1rem;
}

