.rocket_pic {
	height: 22rem;
	margin-top: 8.2rem;
	padding-top: 2rem;
	background: #2d2d2d;
	background: linear-gradient(#2d2d2d, #1b1b1b);
	-webkit-background: linear-gradient(#2d2d2d, #1b1b1b);
	-o-background: linear-gradient(#2d2d2d, #1b1b1b);
	-moz-background: linear-gradient(#2d2d2d, #1b1b1b);
	-ms-background: linear-gradient(#2d2d2d, #1b1b1b);
	
}

.rocket_pic img {
	height: 16rem;
	display: block;
	margin: auto;
}

/* overview and specs */
p {
	margin-bottom: 1rem;
}

.overview__wrapper {
	background: #ffffff;
	padding: 2rem;
	padding-bottom: 1.1rem;
}

.specs__col {
	padding: 0;
}

/*photos section */
.photos {
	background: #f7f7f7;
	padding: 2rem;
}

.photos img {
	display: block;
	margin: auto;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	width: 103%;
}

/* details section */
.details,
.videos {
	background: #ffffff;
	padding: 2rem;
	padding-bottom: 0;
	margin-bottom: 1rem;
}

.details div div,
.videos div div {
	margin-bottom: 2rem;
